<a href="https://colab.research.google.com/github/neenajoseph1008/neenajoseph1008/blob/main/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q !wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"
!pip install -q findspark
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Mounted at /content/drive

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Covid").getOrCreate()

hospitalization_df = spark.read.csv("/content/hospitalizations.csv",inferSchema=True,header=True)
hospitalization_df.show()

+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
|      date|location_key|new_hospitalized_patients|cumulative_hospitalized_patients|current_hospitalized_patients|new_intensive_care_patients|cumulative_intensive_care_patients|current_intensive_care_patients|new_ventilator_patients|cumulative_ventilator_patients|current_ventilator_patients|
+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
|0022-01-10|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|0022-01-20|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|0202-03-30|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|0221-07-06|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-01-07|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-01-12|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-10-11|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-11-12|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1961-01-21|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1969-12-31|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2001-01-29|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2001-02-13|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-01-07|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-01-09|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-01-18|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-02-22|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-05-27|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-06-25|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-06-28|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-07-03|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
only showing top 20 rows

In [5]:
#Count no of rows in hospitalization
cnt_hospitalization = hospitalization_df.count()
print(cnt_hospitalization)

1768485

In [14]:
from pyspark.sql.functions import col
#Filtering out all the rows which has null in all columns except Date column
hospitalization_df_subset = hospitalization_df.dropna(subset=['current_hospitalized_patients','current_intensive_care_patients','new_ventilator_patients','cumulative_ventilator_patients', 'current_ventilator_patients'], how='all').filter((col('new_hospitalized_patients') != 0) & (col('cumulative_hospitalized_patients') != 0) & (col('new_intensive_care_patients') != 0) & (col('cumulative_intensive_care_patients') != 0))

In [15]:
cnt_hospitalization_df_subset = hospitalization_df_subset.count()
print(cnt_hospitalization_df_subset)

8109

In [ ]:
#Filtering out all the rows which has Zero in all columns except Date column

In [16]:
hospitalization_df_subset.show()

+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
|      date|location_key|new_hospitalized_patients|cumulative_hospitalized_patients|current_hospitalized_patients|new_intensive_care_patients|cumulative_intensive_care_patients|current_intensive_care_patients|new_ventilator_patients|cumulative_ventilator_patients|current_ventilator_patients|
+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
|2020-03-20|       CH_AG|                        2|                              32|                         null|                         -2|                                 4|                           null|                     -1|                             2|                       null|
|2020-03-23|       CH_AG|                        8|                              43|                         null|                         -1|                                 3|                           null|                      0|                             2|                       null|
|2020-03-24|       CH_AG|                        8|                              51|                         null|                         -1|                                 2|                           null|                      0|                             2|                       null|
|2020-03-25|       CH_AG|                        9|                              60|                         null|                          5|                                 7|                           null|                      3|                             5|                       null|
|2020-03-26|       CH_AG|                       14|                              74|                         null|                          3|                                10|                           null|                      4|                             9|                       null|
|2020-03-27|       CH_AG|                        5|                              79|                         null|                          2|                                12|                           null|                      1|                            10|                       null|
|2020-03-31|       CH_AG|                        6|                             101|                         null|                         10|                                22|                           null|                      2|                            25|                       null|
|2020-04-06|       CH_AG|                        7|                             124|                         null|                         -2|                                25|                           null|                     -2|                            24|                       null|
|2020-04-08|       CH_AG|                        1|                             132|                         null|                         -2|                                23|                           null|                     -2|                            23|                       null|
|2020-04-09|       CH_AG|                        3|                             135|                         null|                         -1|                                22|                           null|                     -2|                            21|                       null|
|2020-04-14|       CH_AG|                        3|                             142|                         null|                         -1|                                22|                           null|                      1|                            22|                       null|
|2020-04-15|       CH_AG|                        2|                             144|                         null|                         -2|                                20|                           null|                     -2|                            20|                       null|
|2020-04-20|       CH_AG|                        1|                             149|                         null|                         -4|                                16|                           null|                     -4|                            16|                       null|
|2020-04-21|       CH_AG|                        3|                             152|                         null|                          2|                                18|                           null|                      2|                            18|                       null|
|2020-04-23|       CH_AG|                        3|                             155|                         null|                         -1|                                14|                           null|                     -1|                            14|                       null|
|2020-04-28|       CH_AG|                        2|                             161|                         null|                         -3|                                12|                           null|                     -3|                            11|                       null|
|2020-04-29|       CH_AG|                        2|                             163|                         null|                         -2|                                10|                           null|                     -2|                             9|                       null|
|2020-05-08|       CH_AG|                        1|                             167|                         null|                         -1|                                 3|                           null|                     -1|                             3|                       null|
|2020-05-13|       CH_AG|                        1|                             168|                         null|                         -1|                                 1|                           null|                     -1|                             1|                       null|
|2020-07-29|       CH_AG|                        2|                             187|                         null|                          1|                                 3|                           null|                      0|                          null|                       null|
+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
only showing top 20 rows