<a href="https://colab.research.google.com/github/neenajoseph1008/neenajoseph1008/blob/main/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q !wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"
!pip install -q findspark
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Mounted at /content/drive

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Covid").getOrCreate()

hospitalization_df = spark.read.csv("/content/hospitalizations.csv",inferSchema=True,header=True)
hospitalization_df.show()

+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
|      date|location_key|new_hospitalized_patients|cumulative_hospitalized_patients|current_hospitalized_patients|new_intensive_care_patients|cumulative_intensive_care_patients|current_intensive_care_patients|new_ventilator_patients|cumulative_ventilator_patients|current_ventilator_patients|
+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
|0022-01-10|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|0022-01-20|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|0202-03-30|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|0221-07-06|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-01-07|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-01-12|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-10-11|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1202-11-12|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1961-01-21|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|1969-12-31|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2001-01-29|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2001-02-13|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-01-07|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-01-09|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-01-18|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-02-22|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-05-27|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-06-25|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-06-28|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
|2002-07-03|          AR|                        0|                               0|                         null|                          0|                                 0|                           null|                   null|                          null|                       null|
+----------+------------+-------------------------+--------------------------------+-----------------------------+---------------------------+----------------------------------+-------------------------------+-----------------------+------------------------------+---------------------------+
only showing top 20 rows

In [5]:
#Count no of rows in hospitalization
cnt_hospitalization = hospitalization_df.count()
print(cnt_hospitalization)

1768485

In [ ]:
#Filtering out all the rows which has null or zero in all columns except Date column